@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 900vh;
    
}

/*Menu lateral*/
nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #b41fff;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #390055;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;/*Esconde as letras*/
    transition: .3s;
}

nav.menu-lateral:hover{
    width: 300px;
}


.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

/*Afeta apenas ela*/
.btn-expandir > i{ 
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;  /*Tira as bolinhas*/
}

ul li.item-menu{
    transition: .4s;
}


ul li.item-menu:hover{
    background: #390055;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none; /*Tira o sublinhado*/
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;

}

.item-exit{
    margin-top: 100px;
    border-radius: 10px;
}

.item-cliente{
    margin-top: 100px;

}

/*Dashboard*/



/*Formulário de cadastro de clientes
label{
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

input{
    font-size: 1rem;
}*/


.form{
    flex-direction: column;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #390055;
    margin-left: 22%;
    margin-top: 5%;
    padding-bottom: 5%;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}