<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Carregar o módulo estático do Django -->
    {% load static %}

    <!-- Link para o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <!-- Seu arquivo de estilos customizados -->
    <link rel="stylesheet" href="{% static 'css/style-inicio.css' %}">
    
    <script defer src="{% static 'js/app.js' %}"></script>
</head>
<body>
    <!-- Barra de Navegação -->
    <header class="header">
      <nav class="nav barra-navegar">            
         <a href="{% url 'inicio' %}"><img src="{% static 'img/logo.png' %}" alt="Logo" height="60" width="100"></a>
              <button class="hamburguer"></button>       
              <ul class="nav-list">
                <li><a href="{% url 'inicio' %}">Início</a></li>
                <li><a href="{% url 'suporte' %}">Suporte</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Registrar</a></li>
            </ul>            
      </nav>
  </header><!--Fim navegação-->
    <!-- Container do Registro -->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="register-container">
            <h1 class="text-center mb-4">Registrar</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Renderiza o formulário de forma simples -->
                <button style="width: 100%;" type="submit" class="btn btn-primary">Registrar</button>
            </form>

            <!-- Exibir mensagens de sucesso ou erro -->
            {% if messages %}
                <div class="alert alert-info mt-3">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
