/* Estilo básico e ajustes adicionais */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a{
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e0e0; /* Cor de fundo cinza claro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*Barra de navegação*/
header{
    background: #b41fff;
    padding-inline: 16px;
    z-index: 1;
     
}

.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 48px;
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
    color: #fff;
    margin-top: 15px;
}

.nav-list a{
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
    text-decoration: none;
    padding: 10px;
    margin: 20px 20px;

    background-color: #630094;
    border-radius: 4px;
    
}

.nav-list a:hover{
    background-color: #fff;
    color: #390055;
    transition: 0.3s;
}

/*.hero{
    height: calc(100vh-70px);
    background: center / cover no-repeat url("./bg.jpg") ;
}*/

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

/*Animação da barra de navegação responsiva*/
@media(max-width:790px){

    .hamburguer{
        display: block;
        z-index: 1;

    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #b41fff;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24px;
        opacity: 0;

    }

    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    /*Estilo ativo*/
    .nav.active .nav-list{
        clip-path: circle(1500px at 90%-15%);
        pointer-events: all;
    }

    .nav.active .nav-list a{
        opacity: 1;
    }

    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
/*Fim da barra de navegação*/

h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #b41fff;
    text-align: center;
    margin-top: 50px;
}


/*Estilizando os cards*/
.card{
    box-shadow: 4px 8px 8px 4px rgba(132, 62, 189, 0.2);
    border-color: #390055;
    transition: transform 0.3s ease-in-out;
    
}

.card:hover{
    transform: scale(1.1);
}

.cards{
    margin-top: 120px;
    justify-content: center;
    display: flex;
    gap:90px;

}

.cards2{
    margin-top: 60px;
    justify-content: center;
    display: flex;
    gap:90px;
    margin-bottom: 40px;
}
/*Fim da estilização dos cards*/