@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/*Menu lateral*/
nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #b41fff;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #390055;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;/*Esconde as letras*/
    transition: .3s;
}

nav.menu-lateral:hover{
    width: 300px;
}


.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

/*Afeta apenas ela*/
.btn-expandir > i{ 
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;  /*Tira as bolinhas*/
}

ul li.item-menu{
    transition: .4s;
}


ul li.item-menu:hover{
    background: #390055;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none; /*Tira o sublinhado*/
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;

}

.item-exit{
    margin-top: 100px;
    border-radius: 10px;
}

.item-cliente{
    margin-top: 100px;

}

/*Dashboard*/

.container {
    margin-top: 100px;
    margin-left: 200px;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.status-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.status {
    width: 22%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}

#vencidos {
    background-color: #ff4c4c;
}

#a-assinar {
    background-color: #4c84ff;
}

#assinados {
    background-color: #4caf50;
}

#a-vencer {
    background-color: #ffcc00;
}

.count {
    font-size: 2rem;
    margin-top: 10px;
}

/*Pizza*/
.chart-container {
    margin-left: 350px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

canvas {
    max-width: 500px;
    max-height: 500px;
}

@media (max-width: 768px) {
    .status-container {
        flex-direction: column;
        align-items: center;
    }

    .status {
        width: 80%;
        margin-bottom: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    canvas {
        max-width: 100%;
        max-height: 300px;
    }
}