/* Estilo básico e ajustes adicionais */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a{
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e0e0; /* Cor de fundo cinza claro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*Barra de navegação*/
header{
    background: #b41fff;
    padding-inline: 16px;
    z-index: 1;
     
}

.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 48px;
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
    color: #fff;
    margin-top: 15px;
}

.nav-list a{
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
    text-decoration: none;
    padding: 10px;
    margin: 20px 20px;

    background-color: #630094;
    border-radius: 4px;
    
}

.nav-list a:hover{
    background-color: #fff;
    color: #390055;
    transition: 0.3s;
}

/*.hero{
    height: calc(100vh-70px);
    background: center / cover no-repeat url("./bg.jpg") ;
}*/

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

/*Animação da barra de navegação responsiva*/
@media(max-width:790px){

    .hamburguer{
        display: block;
        z-index: 1;

    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #b41fff;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24px;
        opacity: 0;

    }

    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    /*Estilo ativo*/
    .nav.active .nav-list{
        clip-path: circle(1500px at 90%-15%);
        pointer-events: all;
    }

    .nav.active .nav-list a{
        opacity: 1;
    }

    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}



/*Login*/
.container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* Necessário para o ajuste do container do formulário */
}

.login-container {
    background-color: #b41fff; /* Fundo do formulário igual à barra de navegação */
    padding:70px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Permite posicionar o botão dentro do formulário*/
    margin-top: -250px; /* Move o container para cima em 250px */
}

h1 {
    font-size: 2rem;
    color: #ffffff; /* Cor do texto do título */
    margin-top: -50px;
}

.form-label {
    color: #fff;
    font-weight: 600;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

.mb-4 {
    margin-bottom: 1.5rem; /* Ajusta o espaçamento inferior dos inputs*/
}

.btn-login {
    position: absolute;
    margin-bottom: 20px;
    bottom: 5px; /* Alinha o botão no canto inferior do formulário*/
    right: 25%; /* Alinha o botão no canto direito do formulário*/
    font-size: 0.875rem; /* Tamanho menor do botão*/
    padding: 10px 10px; /* Ajuste do padding do botão*/ 
    border-radius: 20px;
    background-color: #390055;
    color: #fff;
}

.btn-login a{
    text-decoration: none;

}

.btn-login a:hover{ /* Quando passa o cursor por cima*/
    border-radius: 5px;
    text-decoration: none;
}