/* Estilo básico e ajustes adicionais */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e0e0;
    display: flex;
}

/* Barra lateral */
.menu-lateral {
    background-color: #b41fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menu-lateral ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu-lateral ul li {
    width: 100%;
}

.menu-lateral ul li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-align: center;
    background-color: #630094;
    border-radius: 4px;
    margin: 10px 0;
}

.menu-lateral ul li a:hover {
    background-color: #fff;
    color: #390055;
    transition: 0.3s;
}

/* Conteúdo */
.container-fluid {
    margin-left: 270px; /* Ajuste da margem para que o conteúdo não fique sobreposto à barra lateral */
    padding-top: 20px;
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}
